

.App {
  text-align: center;
  background-color: #f9e0ae;
  position: absolute;
  top: 0;
  left : 0;
  height: 100%;
  width: 100%;
  color:white;
  padding-top: 0%;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.PlayingDisplay {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin: 30px;
}

ul {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  list-style-type: none;
  padding: 20px;
  color:white;
  
}

nav {
  background-color: #fc8621;
  text-decoration-style: none;
}

.StatsDisplay {
  background-color:#fc8621;
  padding:10px
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

th {
  background-color: #c24914;
  border-color:#fc8621;
  padding:3px;
}

td {
  background-color: #c24914;
  border-style: solid;
  border-color: #fc8621;
}

.Games-List {
  margin-left: auto;
  margin-right: auto;
  background-color: #fc8621;
}

.Mapper {
  background-color: #c24914;
  margin:2px;
  padding:5px;
}

button {
  background-color: #682c0e;
  border: none;
	padding: 0;
  font: inherit;
  margin:5px;
  padding:3px;
  color:white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
